.container {
  background-color: #fff;
  margin-top: 27vh;
  padding: 15px;
  border-radius: 15px;
}
#buttom_generate {
  border: 0 solid #7159c1;
  background-color: #7159c1;
  outline-color: #7159c1;
  color: #fff;
  padding: 10px;
  font-size: 25px;
  margin-top: 10px;
}
